@font-face {
  font-family: Mazius Review;
  src: url('assets/mazius-review-regular.woff2');
}

@font-face {
  font-family: Mazius Review;
  font-style: italic;
  src: url('assets/mazius-review-extra-italic.woff2');
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: Mazius Review;
  font-size: 40px;
  line-height: 1.25;
  font-variation-settings: "wght" 100, "wdth" 10;

  background-color: #222222;
  color: #ffffff;

  display: flex;
}

main {
  flex: 1;
  border: 1px solid white;
  margin: 48px;

  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  padding: 32px;
}

footer {
  padding: 32px;
  border-top: 1px solid white;

  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  transition: letter-spacing 0.5s; 
}

a:hover {
  font-variation-settings: "wght" 140, "wdth" 10;
  letter-spacing: 2px;
}

a:before {
  content: "";
  display: inline-block;
  background-color: white;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  margin: 0 0.4em 0 0;
  border: 2px solid white;
  transition: background-color 0.2s;
}

a:hover:before {
  background-color: transparent;
}
