@font-face {
  font-family: 'Sprat';
  src: url('assets/sprat.woff2');
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;

  background-color: #11111a;
  color: #11111a;
}

div.info {
  position: fixed;
  top: 48px;
  right: 48px;
  width: 320px;
  height: calc(100vh - 96px);
  background-color: white;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 56px;
  font-style: italic;
  line-height: 1.4;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  color: #0044ff;
  text-decoration: none;
}